{% extends 'layouts/main.html' %}
{% block title %}New Wine Listing{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form method="post" class="form">
      <h3 class="form-heading">List a new wine</h3>
      <div class="form-group">
        <label for="winemaker_id">Winemaker ID</label>
        <small>ID can be found on the Winemaker's Page</small>
        {{ form.winemaker_id(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
        <label for="winery_id">Winery ID</label>
        <small>ID can be found on the Winery's Page</small>
        {{ form.winery_id(class_ = 'form-control', autofocus = true) }}
      </div>
      <div class="form-group">
          <label for="start_time">Start Time</label>
          {{ form.start_time(class_ = 'form-control', placeholder='YYYY-MM-DD HH:MM', autofocus = true) }}
        </div>
      <input type="submit" value="Create Winery" class="btn btn-primary btn-lg btn-block">
    </form>
  </div>
{% endblock %}