{% extends 'layouts/main.html' %}
{% block title %}{{ winemaker.name }} | Winemaker{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1 class="monospace">
			{{ winemaker.name }}
		</h1>
		<p class="subtitle">
			ID: {{ winemaker.id }}
		</p>
		<div class="genres">

			<span class="genre">{{ winemaker.genres }}</span>
		
		</div>
		<p>
			<i class="fas fa-globe-americas"></i> {{ winemaker.city }}, {{ winemaker.state }}
		</p>
		<p>
			<i class="fas fa-phone-alt"></i> {% if winemaker.phone %}{{ winemaker.phone }}{% else %}No Phone{% endif %}
        </p>
        <p>
			<i class="fas fa-link"></i> {% if winemaker.website %}<a href="{{ winemaker.website }}" target="_blank">{{ winemaker.website }}</a>{% else %}No Website{% endif %}
		</p>
		<p>
			<i class="fab fa-facebook-f"></i> {% if winemaker.facebook_link %}<a href="{{ winemaker.facebook_link }}" target="_blank">{{ winemaker.facebook_link }}</a>{% else %}No Facebook Link{% endif %}
        </p>
		{% if winemaker.seeking_winery %}
		<div class="seeking">
			<p class="lead">Currently seeking performance wineries</p>
			<div class="description">
				<i class="fas fa-quote-left"></i> {{ winemaker.seeking_description }} <i class="fas fa-quote-right"></i>
			</div>
		</div>
		{% else %}	
		<p class="not-seeking">
			<i class="fas fa-moon"></i> Not currently seeking performance wineries
		</p>
		{% endif %}
	</div>
	<div class="col-sm-6">
		<img src="{{ winemaker.image_link }}" alt="Winemaker Image" />
	</div>
</div>
<section>
	<h2 class="monospace">{{ winemaker.upcoming_wines_count }} Upcoming {% if winemaker.upcoming_wines_count == 1 %}Wine{% else %}Wines{% endif %}</h2>
	<div class="row">
		{%for wine in winemaker.upcoming_wines %}
		<div class="col-sm-4">
			<div class="tile tile-wine">
				<img src="{{ wine.winery_image_link }}" alt="Wine Winery Image" />
				<h5><a href="/wineries/{{ wine.winery_id }}">{{ wine.winery_name }}</a></h5>
				<h6>{{ wine.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<section>
	<h2 class="monospace">{{ winemaker.past_wines_count }} Past {% if winemaker.past_wines_count == 1 %}Wine{% else %}Wines{% endif %}</h2>
	<div class="row">
		{%for wine in winemaker.past_wines %}
		<div class="col-sm-4">
			<div class="tile tile-wine">
				<img src="{{ wine.winery_image_link }}" alt="Wine Winery Image" />
				<h5><a href="/wineries/{{ wine.winery_id }}">{{ wine.winery_name }}</a></h5>
				<h6>{{ wine.start_time|datetime('full') }}</h6>
			</div>
		</div>
		{% endfor %}
	</div>
</section>

{% endblock %}

